@import url('https://fonts.googleapis.com/css?family=Open+Sans');

p
{
    font-family: serif;
    color: rgb(51, 9, 9);
    word-spacing: 10px;
    line-height: 80px;
}

a
{
    background-color: white;
    text-decoration: underline;
    text-transform: uppercase;
}

a:visited
{
    color: rgb(255, 94, 121);
}

a:hover
{
    text-decoration-color: greenyellow;
    color: red;
}

body
{
    max-width: 90%;
    margin: 0px auto;
    background: rgb(13,217,233);
    /* background-image: linear-gradient(90deg, rgba(2,0,36,0.48361351376488093) 18%, rgba(247,17,225,1) 26%, rgba(46,108,53,1) 40%, rgba(107,255,75,1) 48%, rgba(129,234,255,0.3575630935968137) 66%, rgba(241,60,8,0.7973390039609594) 76%, rgba(13,217,233,1) 86%, rgba(155,13,233,0.5368348022802871) 93%);  */
    background-image: url("https://www.history.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc4NjAyMTc0NTA2MzEz/hith-chinese-leaders-qin-shi-huang-2.jpg"), linear-gradient(90deg, rgba(13,217,233,1) 0%, rgba(223,23,23,1) 5%, rgba(32,204,212,0.2763306005996149) 10%, rgba(47,193,195,1) 18%, rgba(245,0,167,1) 23%, rgba(98,252,4,1) 29%, rgba(2,237,255,1) 34%, rgba(0,0,0,0.2735294801514355) 39%, rgba(255,255,255,1) 45%, rgba(255,0,209,1) 50%, rgba(199,31,31,1) 56%, rgba(251,255,0,0.7273109927564776) 64%, rgba(40,221,65,1) 71%, rgba(154,225,255,0.8225490879945728) 78%, rgba(255,0,191,1) 86%, rgba(91,219,12,1) 92%, rgba(185,160,240,1) 97%, rgba(89,18,18,0.94859950816264) 100%);
    background-repeat: no-repeat;
    background-position: bottom right;
    font-family: "Open Sans", sans-serif;
    /* background-size: cover; */
    /* je commente le background size pour ne pas gacher mon beau gradient */
}

q
{
    max-width: 50%;
    margin: 300px 0px 300px 0px auto;
    border-left: 3px solid firebrick;
    background-color: rgba(189, 178, 178, 0.233);
    padding: 30px 30px 30px 30px;
    font-style: italic;
}

.farmer
{
    border-left-color: rgb(0, 0, 0);
}

.villager
{
    border-left-color: red;
}

header > h2
{
    background-color: yellow;
}

.good,.bad
{
    text-transform: uppercase;
}

.bad
{
    color: red;
}

.good
{
    color: green;
}

tr:nth-child(even) 
{
    background: #CCC
}

tr:nth-child(odd) 
{
    background: #FFF
}

li
{
    font-size: 50px;
}



.li1::before
{
    content:url(bien.png);
    position: relative;
    left:-3px;
    top:10px;

}


.li2::before
{
    content:url(mal.png);
    position: relative;
    left:-3px;
    top:10px;
}

.li3::before
{
    content:url(chat.png);
    position: relative;
    left:-3px;
    top:10px;
}

body p:nth-child(1)
{
    font-weight: bold;
}

div
{
    display: flex;
    flex-direction: row-reverse;
}

ul:before
{
    content:attr(aria-label);
    font-size:100%;
}

